<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website rekomendasi restoran untukmu">
    <meta name="theme-color" content="#52310A">
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Icons made by Freepik from www.flaticon.com -->
    <link rel="preload" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous">
    </noscript>
    <title>MakanLezat</title>
</head>

<body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <header>
        <app-bar></app-bar>
        <jumbotron-brand></jumbotron-brand>
    </header>

    <main class="main-content" id="main-content">
    </main>
    <footer>
        <p>Copyright &#169; 2021 - MakanLezat</p>
    </footer>
</body>

</html>