<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website rekomendasi restoran untukmu">
    <meta name="theme-color" content="#52310A">
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Icons made by Freepik from www.flaticon.com -->
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>MakanLezat</title>
</head>

<body>
    <a href="#content" class="skip-link">Skip to content</a>
    <header>
        <nav class="nav">
            <div class="nav__brand">
                <h1 class="nav__brand-logo">MakanLezat</h1>
            </div>
            <div class="nav__menu">
                <button id="hamburgerButton">☰</button>
            </div>
            <div id="drawer">
                <ul class="nav__list">
                    <li class="nav__item"><a href="index.html">Home</a></li>
                    <li class="nav__item"><a href="#">Favorite</a></li>
                    <li class="nav__item"><a href="https://github.com/nargyanti/">About Us</a></li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="jumbotron__body">
                <h1 class="jumbotron__brand">MakanLezat</h1>
                <p class="jumbotron__caption">Temukan rekomendasi restoran yang menyajikan makanan dan minuman lezat di
                    sini!
                </p>
            </div>
        </div>
    </header>

    <main class="main-content">
    </main>
    <footer>
        <p>Copyright &#169; 2021 - MakanLezat</p>
    </footer>
</body>

</html>