@media screen and (min-width: 500px) {      
    #restaurant {     
        padding: 1.5em 2.1em;        
    }
    
    .restaurant__picture {
        height: 200px;
        width: auto;
    }

    .restaurant__menus {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.2em;               
        justify-items: center;   
        align-content: center;
    }

    .restaurant__menus h2 {
        grid-column-start: 1;        
        grid-column-end: 3;
    }

    .restaurant__menus__foods, .restaurant__menus__drinks {
        margin: 0;      
    }
}

@media screen and (max-width: 718px) {                
    .nav__brand-logo {
        font-size: 2em;        
    }

    #drawer {
        position: absolute;
        top: 4em;
        right: 0;
        z-index: 1;
        background-color: #52310a;
        width: 200px;                
        padding: 0.1em;
        -webkit-transform: translate (0px, 0);
        transform: translate(200px, -500px);              
    }

    #drawer.open {
        -webkit-transform: translate (0, 0);
        transform: translate(0, 0);       
    }

    .nav__list {
        padding: 0;
        margin: 0;
    }

    .nav__item {        
        width: 100%;
        text-align: center;                      
        font-size: 18px;         
        padding: 23px;
        margin: 0;
    }
    
    .nav__item a:focus, .nav__item a:hover {
        background-color: #dba96b;
        color: #000000;   
    }

    .jumbotron {    
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url("../public/images/jumbotron/jumbotron-small.jpg") center;
        background-size: cover;            
        text-align: center;
        padding: 6em 0;
    }
}

@media screen and (min-width: 700px) {
    .restaurant-list {
        grid-template-columns: repeat(2, 1fr);     
        column-gap: 1.5em;    
    }

    .restaurant__picture {
        height: 250px;    
    }

    .restaurant__none {        
        grid-column-start: 1;    
        grid-column-end: 3;
    }
}

@media screen and (min-width: 718px) {
    .nav__menu {
        display: none;
    }       
}

@media screen and (min-width: 1030px) {
    .restaurant-list {
        grid-template-columns: repeat(3, 1fr);              
    }

    #restaurant {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.6em;
        column-gap: 1.2em;
    }

    .restaurant__picture {
        height: auto;
        width: 450px;
        margin: 0 auto;    
    }

    .restaurant__name, .restaurant__menus, .restaurant__reviews {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .restaurant__none {        
        grid-column-start: 1;    
        grid-column-end: 4;
    }
}

@media screen and (min-width: 1320px) {
    .restaurant-list {
        grid-template-columns: repeat(4, 1fr);               
    }

    .restaurant__none {        
        grid-column-start: 1;    
        grid-column-end: 5;
    }
}